<footer>
    <p style="text-align:left;"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0;float:left;margin-right: 5px;margin-top:5px;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a> {{ i18n "footer_license" }}. {{i18n "theme_url" }} <a href="https://github.com/Wivik/garbage-collector-theme" target="_blank">GitHub</a>.</p>
    <p><button onclick="window.location.href='#';">{{ i18n "back_on_top" }}</button></p>
</footer>