{{ define "body_class" }} home-template {{ end }}

{{ define "main" }}

{{- partial "header.html" . -}}

            <main>
              {{ if site.Params.paginate }}
              {{ $pages := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) site.Params.pagination }}
              {{ range $index, $element := $pages.Pages }}
              {{- partial "post-card.html" (dict "context" . "index" $index "home" $.IsHome) -}}
              {{ end }}
              <section class="pagination">
                {{ $pages := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) site.Params.pagination }}
                {{ template "_internal/pagination.html" . }}
                {{ range $index, $element := $pages.Pages }}
                {{ end }}
              </section>
              {{ else }}
              {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
              {{ range $index, $element := $pages }}
                  {{- partial "post-card.html" (dict "context" . "index" $index "home" $.IsHome) -}}
              {{ end }}
              {{ end }}
            </main>
{{ end }}